{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello {{ controller_name }}! ✅</h1>
    <h2>Connexion sur le site</h2>
    <form action="{{ path('security_login') }}" method="post">
        <div>
            <div>
                <input placeholder="Adresse mail" required name="_username" type="text">
            </div>
            <div>
                <input placeholder="Mot de passe" required name="_password" type="password">
            </div>
            <div>
                <button type="submit">connexion</button>
            </div>
        </div>
    </form>
{% endblock %}