.main-black {
    background-color: #212429 !important;
    color: #F9FBFB !important;
}
.second-black {
    background-color: #292A2E !important;
    color: #F9FBFB !important;
}
.main-gray-text {
    color: #898989 !important;
}
.main-orange {
    background-color: #FD5F02 !important;
    color: #F9FBFB !important;
}
.main-violet {
    background-color: #C932C2 !important;
    color: #F9FBFB !important;
}
.main-gradient {
    background: linear-gradient(-55deg, #FD5F02 0%, #C932C2 100%) !important;
}
.main-gradient-b {
    background: linear-gradient(-55deg, #FD5F02 0%, #C932C2 100%) !important;
}
.main-gradient-b:hover {
    background: linear-gradient(-55deg, #e34f00 0%, #bb29b4 100%) !important;
}
.main-gradient-text {
    background: -webkit-linear-gradient(-55deg, #FD5F02 0%, #C932C2 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
.blury {
    background: rgba(78, 78, 78, 0.25) !important;
    -webkit-backdrop-filter: blur(50px) !important;
    backdrop-filter: blur(50px) !important;
}


#afficheur_compteur_ami:empty {
    display: none ;
}

.accordion {

    cursor: pointer;
    padding: 11px 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active.accordion {
    color: white;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accordion.active .panel {
    background-color: blue;
    padding: 10px;
}

.panel :last-child.ami {
    margin-bottom: 10px;
}

.invisible_scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.invisible_scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}



.tab-button.active {
    border-bottom: 2px solid #FD5F02;
    color: #FD5F02;
}
.tab-button.active:hover {
    border-bottom: 2px solid #FD5F02;
    color: #FD5F02;
}
.content {
    display: none;
    padding: 10px 20px;
}
.content.active {
    display: block;

}

.content {
    display: none;
}

.content.active {
    display: block;
}








:root {
    --border: rgba(255, 255, 255, 0.197);

    --g1: rgb(98, 0, 234);
    --g2: rgb(236, 64, 122);
    --g3: rgb(253, 216, 53);
}


.card {
    cursor: pointer;
    position: relative;
}

.card:hover:before {
    background-position: 100% 100%;
    transform: scale(1.03, 1.03);
}

.card:hover > .card-content {
    background-position: -10% 0%;
}

.card:hover > .card-icon {
    color: white;
}

.card:hover > .card-content > .card-subtitle > .card-subtitle-word {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
}

.card:before {
    background: linear-gradient(
            130deg,
            transparent 0% 33%,
            var(--g1) 66%,
            var(--g2) 83.5%,
            var(--g3) 100%
    );
    background-position: 0% 0%;
    background-size: 300% 300%;
    content: "";
    height: 100%;
    left: 0px;
    pointer-events: none;
    position: absolute;
    top: 0px;
    transition: background-position 350ms ease, transform 350ms ease;
    width: 100%;
    border-radius: 17px;
    z-index: 1;
}

#loader {
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 9999999999;
    overflow-y: hidden;
    display: grid;
    place-content: center;
}

.card-content {
    height: 100%;
    position: relative;
    transition: background-position 350ms ease;
    width: 100%;
    z-index: 2;
}